

.textname {
    margin-left: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 208, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
    font-size: 20px;
}

.inputtext {
    border-radius: 10px;
    margin-left: 25px;
}

.submit {
    transition: 2s ease;
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 0, 0));
    align-content: center;
    display: block;
    margin-left: 50px;
    margin-right: 91%;
    border-radius: 10px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

.submit:hover {
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 0, 0));
    border-radius: 10px 90px;
    transition: 2s ease;
    height: 25px;
    cursor: pointer;
}

.hisname {
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 208, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mouse-cursor-gradient-tracking {
    height: 700px;
    transition: 3s ease;
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: 
  white;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px -10px 17px rgb(225 217 0 / 50%), 0px 10px 17px rgb(255 217 0 / 50%);
    margin-top: 300px;
  }
  .mouse-cursor-gradient-tracking:hover {
    height: 700px;
    transition: 3s ease;
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: 
  white;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px -10px 17px rgba(255, 0, 0, 0.76), 0px 10px 17px rgba(255, 0, 0, 0.5);
    margin-top: 300px;
  }
  
  .mouse-cursor-gradient-tracking span {
    position: relative;
  }
  
  .mouse-cursor-gradient-tracking:before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, red, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }
  
  .mouse-cursor-gradient-tracking:hover:before {
    --size: 100px;
  }

.aboutmvlines {
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(190, 190, 190));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

.div2 {
    transition: 3s ease;
    width: 100%;
    height: 700px;
    background-size: 100%;
    box-shadow: 0px -10px 17px rgb(225 217 0 / 50%), 0px 10px 17px rgb(255 217 0 / 50%);
    display: block;
    margin-top: 300px;
}

.div2:hover {
    transition: 3s ease;
    width: 100%;
    height: 700px;
    background-size: 100%;
    box-shadow: 0px -10px 17px rgba(255, 0, 0, 0.76), 0px 10px 17px rgba(255, 0, 0, 0.5);
    display: block;
    margin-top: 300px;
}

.aboutmv {
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(121, 121, 121));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.rights {
    text-align: left;
    font-size: 27px;
    margin-left: 10px;
    background-image: linear-gradient(to bottom, rgb(89, 0, 255), rgb(132, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 250px;
    margin-bottom: -5px;
}

.learnmore {
    transition: 1s ease;
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 0, 0));
    align-content: center;
    display: block;
    margin-left: 20%;
    margin-right: 50%;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    width: 125px;
    text-align: center;
    transform: skewY(11deg);
}

.learnmore:hover {
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 0, 0));
    border-radius: 10px 90px 90px;
    transition: 2s ease;
    height: 50px;
    transform: skewY(11deg);
}

.line1 {
    margin-top: 50px;
}

.lines,.line1 {
    background-image: linear-gradient(to bottom, rgb(141, 141, 141), rgb(199, 199, 199), rgb(141, 141, 141));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 80%;
    margin-right: 20px;
    transform: skewY(11deg);
    font-size: 25px;
    display: flex;
}

.abouttextnormal {
    background-image: linear-gradient(to bottom, rgb(255, 251, 0), rgb(255, 0, 0), rgb(255, 251, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 5%;
    margin-left: 80%;
    transform: skewY(11deg);
    font-size: 45px;
}

.about {
    width: 100%;
    height: 700px;
    background-size: 100%;
    box-shadow: 0px -10px 17px rgb(0 0 0 / 50%), 0px 10px 17px rgb(0 0 0 / 50%);
    display: block;
    margin-top: 150px;
    transform: skewY(-11deg);
}

.copyiptext {
    align-content: center;
    display: block;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: auto;
    background-image: linear-gradient(to bottom, rgb(234, 234, 234), rgb(166, 166, 166));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copyip {
    transition: 2s ease;
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 0, 0));
    align-content: center;
    display: block;
    margin-left: 15%;
    margin-right: auto;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
}

.copyip:hover {
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 0, 0));
    border-radius: 100px;
    transition: 2s ease;
    height: 50px;
}

.maintitle {
    text-align: center;
    font-size: 100px;
    vertical-align: text-bottom;
    padding: 160px;
    background-image: linear-gradient(rgb(255, 196, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;
}

.titlesecondary {
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
    background-image: linear-gradient(to bottom, rgb(234, 234, 234), rgb(166, 166, 166));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line1secondary {
    text-align: center;
    font-size: 27px;
    margin-left: 10px;
    background-image: linear-gradient(to bottom, rgb(234, 234, 234), rgb(166, 166, 166));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}

.divunder {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(143, 15, 15, 0.658), rgb(23, 23, 23)), url(https://cdn.discordapp.com/attachments/984630666438279239/1009878417753255936/unknown.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 700px;
    margin-top: -100px;
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background: linear-gradient(to left, rgb(163 163 163) 20%, rgb(106 106 106));
}

.nav-links a {
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 21px;
    padding: 5px 14px;
    font-weight: bold;
    text-shadow: black 1px 0px 0px;
}

.nav-links a:hover {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(100, 100, 100));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 21px;
}

.navbarlogo {
    margin-right: 50px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 21px;
}

.menu li:hover {
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 0, 0));
    border-radius: 10px 90px;
    transition: 2s ease;
}

.menu li {
    border-radius: 10px;
    transition: 0.5s ease;
}

.services {
    position: relative;
}

.dropdown {
    background-color: rgb(63, 63, 63);padding: 1em 0;position: absolute;display: none;border-radius: 8px;top: 35px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;width: 8em;text-align: center;
}

.dropdown li:hover {
    background-color: rgb(63, 63, 63);
}

.services:hover .dropdown {
    display: block;
}

body {
     margin: 0;padding: 0;box-sizing: border-box;
    }

ul {
     margin: 0;padding: 0;box-sizing: border-box;
    }

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: linear-gradient(to bottom, rgb(0, 0, 0) , rgb(88, 88, 88), rgb(0, 0, 0));
}

.pagetext {
   color: white;
   text-align: center;
}

